@model MyLibraryStore1.Models.Book

@{ ViewBag.Title = "Details of Book"; }

<h1>Details of Book</h1>
<div class="row" style="padding-left:80px">
    @if (Model != null)
    {
<table class="table-bordered table-hover">
    <tr>
        <td>Book Name</td>
        <td>@Model.BookName</td>
    </tr>
    <tr>
        <td>Author Name</td>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <td>ISBN</td>
        <td>@Model.ISBN</td>
    </tr>
    <tr>
        <td>Published Date</td>
        <td>@Model.PublishedDate</td>
    </tr>
</table> }
            else
            {
<h2>Enter a valid Id</h2>}
</div>
<div class="row" style="padding-left:80px; padding-top:20px">
    <div class="col-md-5">
        <a asp-controller="Books" asp-action="Index">Back To Index</a>
    </div>
</div>


